@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@inject IConfiguration config

@page "/filepicker"

<PageTitle>Test Page For file picker</PageTitle>

<h3>FilePicker</h3>
<InputFile OnChange="@LoadFiles"  multiple accept=".mp3"/>
*@if (errors.Count > 0)
{
	<ul class="text-danger">
		@foreach (var error in errors)
		{
			<li>@error</li>
		}
	</ul>
}



@code {
	private long maxFileSize = 1024 * 1024 * 3; //  = 3 MB
	private int maxAllowedFiles = 3;
	private List<string> errors = new();


	private async Task LoadFiles(InputFileChangeEventArgs e)
	{
		errors.Clear();
		if (e.FileCount > maxAllowedFiles)
		{
			errors.Add($"Error: You can upload a maximum of {maxAllowedFiles} files.");
			return;
		}
		foreach (var file in e.GetMultipleFiles())
		{
			try
			{
				string newFileName = Path.ChangeExtension(
				Path.GetRandomFileName(),
				Path.GetExtension(file.Name));

				string path = Path.Combine(config.GetValue<string>("FileStorage")!,
					"scemb",
					newFileName);

				Directory.CreateDirectory(Path.Combine(
					config.GetValue<string>("FileStorage"!),
					"MusicFiles"));

				await using FileStream fs = new(path, FileMode.Create);
				await file.OpenReadStream(maxFileSize).CopyToAsync(fs);

			}catch (Exception ex)
			{
				errors.Add($"File: {file.Name} Error: {ex.Message}");
			}

		
		}
		
	}
}
